/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

body {
    font-family: 'Rubik', sans-serif;
//  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
//  margin: 0;
//  text-align: center;
//  color: #293c4b;
}

.hour {
    margin-top: 2em;
    width: 100%;
    border-bottom: 2px solid black;
}
.hour h2 {
    margin-bottom: -5px;
}


.sel-days {
    justify-content: space-between;
}
.sel-row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.menu {
    display: flex;
    justify-content: flex-start;
}

.selector {
    width:  100%;
    display: flex;
    flex-direction: column;
}

.selector input {
    width: 150px;
    margin-right: 10px;
}
.selector a {
}

.sel-days button {
    padding: 5px 10px;
}

.events {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.event {
    align-self: stretch;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 10px 16px 10px 16px;
    margin: 10px;
    width: 400px;
}
.event .title {
    font-size: 14pt;
    font-weight: 800;
}

.event .camp {
    font-size: 12pt;
    font-weight: 800;
}

.event .host {
    font-size: 10pt;
}

.event .time {
    font-size: 10pt;
    font-family: 'Roboto', sans-serif;
}

.event .day {
    font-size: 10pt;
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
}

.days {
    display: flex;
    justify-content: flex-end;
}

.djmusicmightgetseparatepresentation {
    background-color: #845ec2;
}
.workshopclass {
    background-color: #d65db1;
}
.caresupport {
    background-color: #ff6f91;
}
.fire {
    background-color: #ff9671;
}
.food {
    background-color: #ffc75f;
}
.games {
    background-color: #f9f871;
}
.parade {
    background-color: #2c73d2;
}
.partygathering {
    background-color: #008f7a;
}
.performance {
    background-color: #fbeaff;
}
.ritualceremony {
    background-color: #c34a36;
}


.event .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.description {
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    font-weight: 400;
}

